/* utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* navigazione */
.center {
  width: 80%;
  margin: auto;
}

.inliner {
  display: inline-block;
}
.column {
  float: left;
}

.top-section {
  height: 500px;
  background-color: #0C325A;
  color: white;
}
/* nav */
.navmenu {
  width: 70%;
  padding-top: 20px;
}

nav ul {
  vertical-align: middle;
}

nav li {
  padding: 8px 20px 0 0;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.logo img {
  display: block;
}

.logo{
  vertical-align: middle;
  padding-right: 50px;
}

.login {
  width: 30%;
  padding-top: 34px;
}
