/* utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
/* navigazione */
.center {
  width: 90%;
  margin: auto;
}

.inliner {
  display: inline-block;
}

.relativity {
  position: relative;
}

.column {
  float: left;
}

.top-section {
  /* height: 600px; */
  height: 100vh;
  background-color: #0C325A;
  color: white;
}
/* nav */
.navmenu {
  width: 50%;
  padding-top: 18px;
}

.img-logo {
  width: 140px;
}

nav ul {
  vertical-align: middle;
}

nav li {
  padding: 13px 20px 0 0;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.logo img {
  display: block;
}

.logo{
  vertical-align: middle;
  padding-right: 50px;
}

.login {
  width: 50%;
  padding-top: 33px;
  text-align: right;
}

.login li:not(last-child) {
 padding-right: 20px;
}

.bottone{
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 30px;
}

.pieno {
  border: none;
  background-color: #a6e83c;
  padding: 8px;
}
/* clame e immagine */
.wrapper {
  height: 90%;
  position: relative;
}

.clame {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 27px;
}

.clame h1 {
  margin-bottom: 35px;
}

.big {
  padding: 25px 65px;
}

.img-banner {
  width: 70%;
  position: absolute;
  bottom: 0;
  right: -4%;
}

.img-fit {
  width: 100%;
  display: block;
}
/* clame 2 */
.section-1 {
  background-color: #D3D3D3;
  text-align: center;
  font-weight: normal;
  padding: 50px 0;
}

.section-1 h3 {
  color: #7D7D7D;
  padding-top: 5px;
}

.part {
  width: calc(100%/3);
  text-align: center;
}

.photo {
  width: 40%;
}
